<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>1.地物種類編號</div>
    <div id="fea_SID"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>2.形狀</div>
    <input type="text" class="text" id="fea_Shape" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>3.大小</div>
    <input type="text" class="text" id="fea_Size" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>4.色調與顏色</div>
    <input type="text" class="text" id="fea_ToneColor" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>5.組織</div>
    <div id="fea_Texture"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>6.陰影</div>
    <input type="text" class="text" id="fea_Shadow" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>7.排列與圖案</div>
    <input type="text" class="text" id="fea_Pattern" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>8.位置與關聯物</div>
    <input type="text" class="text" id="fea_Association" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>9.樹冠輪廓</div>
    <div id="fea_Crown1"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>10.樹冠邊緣</div>
    <div id="fea_Crown2"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>11.樹冠表面</div>
    <div id="fea_Crown3"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>12.樹冠數量</div>
    <div id="fea_Crown4"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>13.樹冠尺寸</div>
    <div id="fea_Crown5"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>14.冠層結構-樹梢</div>
    <div id="fea_Crown6"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>15.冠層結構-深度</div>
    <div id="fea_Crown7"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>16.冠層結構-層次</div>
    <div id="fea_Crown8"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>17.冠層結構-通透</div>
    <div id="fea_Crown9"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div>18.冠層結構-質地</div>
    <div id="fea_Crown10"></div>
</div>