
<input id="ste_CurrentSort" type="hidden" value="1" />
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>地物種類編號</div>
    <div id="ste_SID"></div>
    <input type="hidden" id="ste_SelIndex" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>地物種類名稱</div>
    <div id="ste_ComName"></div>
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>像片對標名</div>
    <input type="text" class="text" id="ste_IntroName" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>像片編號Ａ</div>
    <input type="text" class="text" id="ste_PhotoA" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>像片編號Ｂ</div>
    <input type="text" class="text" id="ste_PhotoB" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>袖珍立體像對圖檔</div>
    <input type="file" id="ste_StePair" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>立體像對左片</div>
    <input type="file" id="ste_StePairL" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>立體像對右片</div>
    <input type="file" id="ste_StePairR" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>現場照片</div>
    <input type="file" id="spe_ScePic" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>像片對所在地區</div>
    <input type="text" class="text" id="ste_Locate" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>地物種類立體像對sup檔路徑</div>
    <input type="text" class="text" id="ste_SteSuo" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>坐標(Y max)</div>
    <input type="text" class="text" id="ste_Ymax" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>坐標(Y min)</div>
    <input type="text" class="text" id="ste_Ymin" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>坐標(X max)</div>
    <input type="text" class="text" id="ste_Xmax" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>坐標(X min)</div>
    <input type="text" class="text" id="ste_Xmin" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>像對最低海拔(m)</div>
    <input type="text" class="text" id="ste_AltMin" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>像對最高海拔(m)</div>
    <input type="text" class="text" id="ste_AltMax" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>地物種類像對坡向</div>
    <input type="text" class="text" id="ste_Aspect" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>地物種類覆蓋面積</div>
    <input type="text" class="text" id="ste_Area" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>航線代號</div>
    <input type="text" class="text" id="ste_LineID" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>飛行高度</div>
    <input type="text" class="text" id="ste_FlyH" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>拍攝時間</div>
    <input type="text" class="text" id="ste_ShTime" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>拍攝角度</div>
    <input type="text" class="text" id="ste_ShDeg" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>相機焦距(mm)</div>
    <input type="text" class="text" id="ste_CamFoc" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>相機型號</div>
    <input type="text" class="text" id="ste_CamMod" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>空間解析度</div>
    <input type="text" class="text" id="ste_FWHM" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>坐標點(TWD97)</div><br />
    X:<input type="text" class="text" id="ste_LocX1" />
    Y:<input type="text" class="text" id="ste_LocY1" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>圖號</div>
    <input type="text" class="text" id="ste_PicNumber" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>片號</div>
    <input type="text" class="text" id="ste_FilmNumber" />
</div>
<div class="clear"></div>
<div class="search_content_info_SeparateLine"></div>
<div class="search_content_info_text">
    <div><i class="fas fa-xs fa-dot-circle"></i>地物說明</div>
    <input type="text" class="text" id="ste_IPCCStatement" />
</div>
@*<div class="clear"></div>
    <div class="search_content_info_SeparateLine"></div>
    <div class="search_content_info_text">
        <div>25.坐標點二(TWD97)</div><br />
        X:<input type="text" class="text" id="ste_LocX2" />
        Y:<input type="text" class="text" id="ste_LocY2" />
    </div>
    <div class="clear"></div>
    <div class="search_content_info_SeparateLine"></div>
    <div class="search_content_info_text">
        <div>26.坐標點三(TWD97)</div><br />
        X:<input type="text" class="text" id="ste_LocX3" />
        Y:<input type="text" class="text" id="ste_LocY3" />
    </div>*@