<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
      <serverUrl url="https://wmts.nlsc.gov.tw"
                   matchAll="true"/>
				         <serverUrl url="https://wmts.nlsc.gov.tw/97/wmts"
                   matchAll="true"/>
				         <serverUrl url="http://118.163.96.187/arcgis/rest/services/ASO4/MapServer/WMTS/"
                   matchAll="true"/>
    </serverUrls>
	  <serverItems>
    <serverItem url="https://wmts.nlsc.gov.tw" matchAll="true"/>
    <serverItem url="http://wmts.nlsc.gov.tw" matchAll="true"/>
	    <serverItem url="https://wmts.nlsc.gov.tw/97/wmts" matchAll="true"/>
	    <serverItem url="http://118.163.96.187/arcgis/rest/services/ASO4/MapServer/WMTS/" matchAll="true"/>
	
  </serverItems>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
