<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="WLDbConn" connectionString="Provider=SQLOLEDB.1;Password=p@ssw0rd000;Persist Security Info=True;User ID=sa;Initial Catalog=ASO_WL;Data Source=210.242.163.56;Max Pool Size=200;Connection Lifetime=0;Pooling=true" />
    <add name="AuthDbConn" connectionString="Provider=SQLOLEDB.1;Password=p@ssw0rd000;Persist Security Info=True;User ID=sa;Initial Catalog=ASO_Auth;Data Source=210.242.163.56;Max Pool Size=200;Connection Lifetime=0;Pooling=true" />
    <add name="SdeDbConn" connectionString="Provider=SQLOLEDB.1;Password=p@ssw0rd000;Persist Security Info=True;User ID=sde;Initial Catalog=ASOSDE;Data Source=210.242.163.58;Max Pool Size=200;Connection Lifetime=0;Pooling=true" />-->
    <add name="WLDbConn" connectionString="Provider=SQLOLEDB;Password=gis@1234;Persist Security Info=True;User ID=idt;Initial Catalog=ASO_WL;Data Source=10.51.229.210;Max Pool Size=200;Connection Lifetime=0;Pooling=true"/>
    <add name="AuthDbConn" connectionString="Provider=SQLOLEDB;Password=gis@1234;Persist Security Info=True;User ID=idt;Initial Catalog=ASO_Auth;Data Source=10.51.229.210;Max Pool Size=200;Connection Lifetime=0;Pooling=true"/>
    <add name="SdeDbConn" connectionString="Provider=SQLOLEDB;Password=p@ssw0rd000;Persist Security Info=True;User ID=sde;Initial Catalog=ASOSDE;Data Source=210.242.163.58;Max Pool Size=200;Connection Lifetime=0;Pooling=true"/>
    <add name="AuthConnect" connectionString="Data Source=10.51.229.210;Initial Catalog=ASO_Auth;Persist Security Info=True;User ID=idt;Password=gis@1234" providerName="System.Data.SqlClient"/>
    <add name="WLConnect" connectionString="Data Source=10.51.229.210;Initial Catalog=ASO_WL;Persist Security Info=True;User ID=idt;Password=gis@1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="LoginTime" value="30"/>
    <add key="WLFilePath" value="~/Content/Upload/WoodLand/"/>
    <add key="PhotoPath" value="~/Photos/"/>
    <add key="HandoutsPath" value="~/CourseHandouts/"/>
    <!--寄信設定-->
    <add key="From_Mail" value="huixin93939@gmail.com"/>
    <add key="Mail_Host" value="msa.hinet.net"/>
    <add key="Mail_Port" value="25"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="512000" executionTimeout="86400"/>
    <authentication mode="Forms">
      <forms loginUrl="~/SysAuth/Login/" path="~/SysAuth/Login/" slidingExpiration="true" timeout="30"/>
    </authentication>
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors defaultRedirect="~/WoodLand/Login/Error" mode="On"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/WoodLand/Login/Error" responseMode="ExecuteURL"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/WoodLand/Login/Error" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.10" newVersion="1.3.2.10"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>