@using ASO.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<body class="claro">
    <div>
        @RenderBody()
    </div>
</body>
</html>
@Html.PageScripts()