@model List<ASO.Models.Course>
@{
    ViewBag.Title = "案例參考";
    int i = 0;

}

<div class="content_whiteBG_layout content_whiteBG">
    <div style="width:100%">
        <div class="contnet_title_layout content_title">案例參考</div>
        <a href="@Url.Content("~/WoodLand/OperatingInstructions?Item=4")" class="deep-blue-button" target="_blank">操作指引</a>
    </div>
    <div class="system_contentRIGHT_ALLnews_layout">
        <div class="clear"></div>
        <div class="system_contentRIGHT_SeparateLine"></div>
        <div id="grid_casereference"></div>
    </div>
</div>
<script>
    var CaseReferenceViewUrl = '@Url.Action("IndexView", "CaseReference")';
    var crdata
    var typelist
    var appearancelist
    debugger;
    $(function () {
        initMenu = $(".menu_options_text[class*='Menu_casereference']");
        $(".menu_options_text[class*='Menu_casereference']").addClass("menu_active");

        var url = '@Url.Action("GetCaseReference", "CaseReference")';
        $.post(url, "", function (result) {
            crdata = result[0];
            typelist = result[1];
            appearancelist = result[2];

            var source = {
                localdata: crdata,
                datatype: "JSON",
                datafields: [
                    { name: 'ID', type: 'int' },
                    { name: 'TypeStr', type: 'string' },
                    { name: 'AppearanceStr', type: 'string' },
                    { name: 'CreatTime', type: 'date' },
                    { name: 'ImageCount', type: 'int' },
                    { name: 'Explain', type: 'string' },
                ]
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            var setting = {
                source: dataAdapter,
                height: 305,
                columnsresize: true,
                filterable: true,
                sortable: true,
                pageable: true,
                localization: getLocalization(),
                showfilterrow: true,
                columns: [
                    {
                        text: '', width: 80, align: 'center', columntype: 'button',
                        cellsrenderer: function () {
                            return "檢視";
                        },
                        buttonclick: function (row) {
                            var tmp = $('#grid_casereference').jqxGrid('getrowdata', row)
                            var ID = tmp.ID;
                            location.href = CaseReferenceViewUrl + "/" + ID;
                        }
                    },
                    { text: '編號', datafield: 'ID', align: 'center', cellsalign: 'center' },
                    { text: '案由', datafield: 'TypeStr', align: 'center', cellsalign: 'center', filteritems: typelist, filtertype: 'list' },
                    { text: '判釋態樣', datafield: 'AppearanceStr', align: 'center', cellsalign: 'center', filteritems: appearancelist, filtertype: 'list' },
                    { text: '建立日期', datafield: 'CreatTime', align: 'center', cellsalign: 'center', cellsformat: 'yyyy/MM/dd', filtertype: 'range' },
                    { text: '上傳影像數', datafield: 'ImageCount', width: 80, align: 'center', cellsalign: 'center' },
                    { text: '判讀說明', datafield: 'Explain', align: 'center', cellsalign: 'center' },
                ],
            };
            $("#grid_casereference").jqxGrid(GetJqxGvSetting(setting));
        })
    });
</script>



